//随机数字
@function parse-random($value) {
@return round(random() * $value);
}
$randomId: parse-random(1000000);

$spriteSrc: "~@/assets/images/iconsImg/sprite.png?v=1553224427000";
$spriteWidth: (482px);
$spriteHeight: (445px);
  $ico_buy1: -380px -247px 45px 45px;
  $ico_buy2: 0px -362px 45px 45px;
  $ico_carFalse: -418px -178px 37px 38px;
  $ico_carTrue: -418px -135px 38px 38px;
  $ico_checkBox1: -157px -362px 30px 30px;
  $ico_checkBox2: -227px -362px 30px 30px;
  $ico_class1: -180px -247px 45px 45px;
  $ico_class2: -230px -247px 45px 45px;
  $ico_home1: -280px -247px 45px 45px;
  $ico_home2: -330px -247px 45px 45px;
  $ico_kongkong: 0px 0px 323px 242px;
  $ico_my1: 0px -312px 45px 45px;
  $ico_my2: -50px -312px 45px 45px;
  $ico-back: -463px 0px 19px 35px;
  $ico-buyCar: -114px -412px 32px 32px;
  $ico-class: -200px -312px 45px 45px;
  $ico-collection1: -38px -412px 34px 32px;
  $ico-comment: -328px 0px 130px 130px;
  $ico-consultation1: 0px -412px 33px 33px;
  $ico-coupons-checked: -328px -135px 85px 85px;
  $ico-delect: -192px -362px 30px 30px;
  $ico-free: -100px -362px 52px 30px;
  $ico-gender: -50px -362px 45px 45px;
  $ico-hidePassword: -328px -225px 26px 12px;
  $ico-identity: -350px -312px 45px 45px;
  $ico-NoCheck: -77px -412px 32px 32px;
  $ico-password: -250px -312px 45px 45px;
  $ico-phoneNumber: -150px -312px 45px 45px;
  $ico-play1: -223px -412px 26px 26px;
  $ico-play2: -430px -247px 26px 26px;
  $ico-region: -100px -312px 45px 45px;
  $ico-school: -130px -247px 45px 45px;
  $ico-share: -188px -412px 30px 32px;
  $ico-showPassword: -262px -362px 30px 24px;
  $ico-userName: -400px -312px 45px 45px;
  $ico-verificationCode: -300px -312px 45px 45px;
  $ico-weichat: -65px -247px 60px 60px;
  $ico-xing: -463px -40px 14px 13px;
  $ico-YesCheck: -151px -412px 32px 32px;
  $ico-zhifubao: 0px -247px 60px 60px;

@function px2rem ($px) {
$rem: 32px;
@if (type-of($px) == "number") {
@return ($px / $rem) +rem;
}

@if (type-of($px) == "list") {
@if (nth($px, 1) == 0 and nth($px, 2) != 0) {
@return 0 nth($px, 2) / 16px * 1rem;
} @else if (nth($px, 1) == 0 and nth($px, 2) == 0)  {
@return 0 0;
} @else if (nth($px, 1) != 0 and nth($px, 2) == 0) {
@return nth($px, 1) / 16px * 1rem 0;
} @else {
@return nth($px, 1) / 16px *1rem nth($px, 2) / 16px * 1rem;
}
}
}

@function strip-units($number){
@return $number / ($number * 0 + 1);
}

@function format-zero($number){
@if $number == 0 {
@return 1;
}@else{
@return $number;
}
}

@mixin sprite-width($sprite, $precision) {
@if $precision {
width: px2rem(nth($sprite, 3));
}@else{
width: px2rem(nth($sprite, 3) + 2px);
}

}

@mixin sprite-height($sprite, $precision) {
@if $precision {
height: px2rem(nth($sprite, 4));
}@else{
height: px2rem(nth($sprite, 4) + 2px);
}
}

@mixin sprite-position($sprite, $precision) {
@if $precision {
background-position: strip-units(nth($sprite, 1)) / strip-units(nth($sprite, 3) - $spriteWidth) * 100%  strip-units(nth($sprite, 2)) / format-zero(strip-units(nth($sprite, 4) - $spriteHeight)) * 100%;
}@else{
background-position: strip-units(nth($sprite, 1)) / strip-units(nth($sprite, 3) + 1 - $spriteWidth) * 100%  strip-units(nth($sprite, 2)) / format-zero(strip-units(nth($sprite, 4) + 1 - $spriteHeight)) * 100%;
}
}

@mixin sprite($sprite, $precision) {
@include sprite-position($sprite, $precision);
@include sprite-width($sprite, $precision);
@include sprite-height($sprite, $precision);
background-image: url('#{$spriteSrc}');
background-repeat: no-repeat;
background-size: px2rem($spriteWidth) px2rem($spriteHeight);
display: inline-block;
}


  @mixin mix-ico_buy1() {
  @include sprite($ico_buy1, $precision: false);
  }
  @mixin mix-ico_buy2() {
  @include sprite($ico_buy2, $precision: false);
  }
  @mixin mix-ico_carFalse() {
  @include sprite($ico_carFalse, $precision: false);
  }
  @mixin mix-ico_carTrue() {
  @include sprite($ico_carTrue, $precision: false);
  }
  @mixin mix-ico_checkBox1() {
  @include sprite($ico_checkBox1, $precision: false);
  }
  @mixin mix-ico_checkBox2() {
  @include sprite($ico_checkBox2, $precision: false);
  }
  @mixin mix-ico_class1() {
  @include sprite($ico_class1, $precision: false);
  }
  @mixin mix-ico_class2() {
  @include sprite($ico_class2, $precision: false);
  }
  @mixin mix-ico_home1() {
  @include sprite($ico_home1, $precision: false);
  }
  @mixin mix-ico_home2() {
  @include sprite($ico_home2, $precision: false);
  }
  @mixin mix-ico_kongkong() {
  @include sprite($ico_kongkong, $precision: false);
  }
  @mixin mix-ico_my1() {
  @include sprite($ico_my1, $precision: false);
  }
  @mixin mix-ico_my2() {
  @include sprite($ico_my2, $precision: false);
  }
  @mixin mix-ico-back() {
  @include sprite($ico-back, $precision: false);
  }
  @mixin mix-ico-buyCar() {
  @include sprite($ico-buyCar, $precision: false);
  }
  @mixin mix-ico-class() {
  @include sprite($ico-class, $precision: false);
  }
  @mixin mix-ico-collection1() {
  @include sprite($ico-collection1, $precision: false);
  }
  @mixin mix-ico-comment() {
  @include sprite($ico-comment, $precision: false);
  }
  @mixin mix-ico-consultation1() {
  @include sprite($ico-consultation1, $precision: false);
  }
  @mixin mix-ico-coupons-checked() {
  @include sprite($ico-coupons-checked, $precision: false);
  }
  @mixin mix-ico-delect() {
  @include sprite($ico-delect, $precision: false);
  }
  @mixin mix-ico-free() {
  @include sprite($ico-free, $precision: false);
  }
  @mixin mix-ico-gender() {
  @include sprite($ico-gender, $precision: false);
  }
  @mixin mix-ico-hidePassword() {
  @include sprite($ico-hidePassword, $precision: false);
  }
  @mixin mix-ico-identity() {
  @include sprite($ico-identity, $precision: false);
  }
  @mixin mix-ico-NoCheck() {
  @include sprite($ico-NoCheck, $precision: false);
  }
  @mixin mix-ico-password() {
  @include sprite($ico-password, $precision: false);
  }
  @mixin mix-ico-phoneNumber() {
  @include sprite($ico-phoneNumber, $precision: false);
  }
  @mixin mix-ico-play1() {
  @include sprite($ico-play1, $precision: false);
  }
  @mixin mix-ico-play2() {
  @include sprite($ico-play2, $precision: false);
  }
  @mixin mix-ico-region() {
  @include sprite($ico-region, $precision: false);
  }
  @mixin mix-ico-school() {
  @include sprite($ico-school, $precision: false);
  }
  @mixin mix-ico-share() {
  @include sprite($ico-share, $precision: false);
  }
  @mixin mix-ico-showPassword() {
  @include sprite($ico-showPassword, $precision: false);
  }
  @mixin mix-ico-userName() {
  @include sprite($ico-userName, $precision: false);
  }
  @mixin mix-ico-verificationCode() {
  @include sprite($ico-verificationCode, $precision: false);
  }
  @mixin mix-ico-weichat() {
  @include sprite($ico-weichat, $precision: false);
  }
  @mixin mix-ico-xing() {
  @include sprite($ico-xing, $precision: false);
  }
  @mixin mix-ico-YesCheck() {
  @include sprite($ico-YesCheck, $precision: false);
  }
  @mixin mix-ico-zhifubao() {
  @include sprite($ico-zhifubao, $precision: false);
  }
